body {
  background-color: rgb(41, 38, 42);
  color: aquamarine;
  scroll-behavior: smooth;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  padding: 5px 0 5px 10px;
  border-left: 0 solid rgb(219, 98, 98);
  transition: border-left 0.1s ease;
}
span {
  font-weight: 500;
}
a {
  text-decoration: none;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: aquamarine;
}

a:hover li {
  border-left: 5px solid rgb(219, 98, 98);
}
h4 {
  margin-bottom: 0;
  font-weight: 500;
}
h6,
h5 {
  margin-top: 5px;
  font-weight: 100;
  font-style: normal;
}

.center {
  display: grid;
  margin: 0 150px;
}

.details {
  display: grid;
  margin-left: 380px;
  position: relative;
}
.sec::before {
  content: "";
  position: absolute;
  top: 138px;
  left: -10px;
  width: 15px;
  height: 15px;
  background: aquamarine;
  border-radius: 50%;
  border: 3px solid aquamarine;
}

.sec:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 835px;
  left: -10px;
  width: 15px;
  height: 15px;
  background: aquamarine;
  border-radius: 50%;
  border: 3px solid aquamarine;
}

.sec:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 1530px;
  left: -10px;
  width: 15px;
  height: 15px;
  background: aquamarine;
  border-radius: 50%;
  border: 3px solid aquamarine;
}

.sec:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 2225px;
  left: -10px;
  width: 15px;
  height: 15px;
  background: aquamarine;
  border-radius: 50%;
  border: 3px solid aquamarine;
}

.nav {
  position: fixed;
  top: 20%; /* Ensure it sticks to the top */
  background-color: rgb(41, 38, 42); /* Optional: Add background color */
  z-index: 1001; /* Optional: Ensure it stays above other content */
}

.sec {
  height: 100vh;
  padding-top: 120px;
  padding-left: 50px;
  border-left: 2px solid aquamarine;
}

.sec:nth-child(6) {
  padding-bottom: 500px;
}

.school {
  gap: 50px;
}

.name {
  margin-bottom: 0;
}
.date {
  margin: 0;
}

.proj {
  padding-left: 20px;
}

.exp h5 {
  margin-bottom: 0;
}

.exp h5:nth-child(2) {
  font-weight: 500;
}

.exp .work {
  margin-top: 40px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    overflow: scroll;
  }
  .center {
    display: grid;
    padding: 0 50px;
    margin: 0;
  }
  .nav {
    background-color: rgb(41, 38, 42);
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: rgb(41, 38, 42); /* Optional: Add background color */
    z-index: 1001; /* Optional: Ensure it stays above other content */
  }
  .nav h1 {
    text-align: center;
  }

  .tion {
    display: flex;
    gap: 0 10px;
    justify-content: center;
  }

  .tion li {
    font-size: x-small;
    padding: 5px 0 5px 0;
  }
  a:hover li {
    border-left: 0px solid rgb(219, 98, 98);
    border-bottom: 5px solid rgb(219, 98, 98);
  }
  .details {
    display: grid;
    margin-left: 0;
    position: relative;
    margin: 0 20px;
  }

  .sec {
    height: 100vh;
    padding-top: 120px;
    padding-left: 50px;
    border-left: 2px solid aquamarine;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
} */
